{%extends 'common_code/base.html'%} 
{% load static %}
{%block title%}web details{%endblock title%}
{% block carosel %}{% endblock %}  <!-- This skips the sidebar -->

{%block content%} 
     <h4><strong>Web Details</strong></h4>
            <p>Web development is the process of creating websites and web applications that run on the internet. It involves a combination of programming, design, and content management to build functional and visually appealing online platforms.</p>
            <p>Web development can be categorized into two main areas: front-end development, which focuses on the user interface and user experience, and back-end development, which deals with server-side logic, databases, and application functionality.</p>
            <p>Front-end developers use technologies like HTML, CSS, and JavaScript to create the visual elements of a website, ensuring it is responsive and user-friendly. Back-end developers work with server-side languages like Python, Ruby, or PHP to handle data processing, storage, and application logic.</p>
    <h4>The Main Languages of the Web</h4>

    <p>HTML is the standard markup language for creating Web pages. HTML describes the structure of a Web page, and consists of a series of elements. HTML elements tell the browser how to display the content.</p>

    <hr>

    <p>CSS is a language that describes how HTML elements are to be displayed on screen, paper, or in other media. CSS saves a lot of work, because it can control the layout of multiple web pages all at once.</p>

    <hr>

    <p>JavaScript is the programming language of HTML and the Web. JavaScript can change HTML content and attribute values. JavaScript can change CSS. JavaScript can hide and show HTML elements, and more.</p>

{%endblock content%}

